body{
    margin:0;
    padding:0;
}
a {
    text-decoration: none;

}
a:hover {
    cursor:pointer;  
}
.group {
    display: flex;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;

  }
  
  .rec1{
    text-align: center;
    left: 30px;
    margin-left: 30px;
    height: 500px;
    width: 300px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    outline: none;
    overflow: hidden;
    border: 2px solid #008bf8;
}
.rec2{
    text-align: center;
    right: 50px;
    text-align: center;
    height: 500px;
    width: 300px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    outline: none;
    overflow: hidden;
    border: 2px solid #008bf8;
}
  .input {
    height: 50px;
    width: 600px ;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: rgba(247, 127, 0, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
  }
  
  
.card {
    width: 190px;
    height: 254px;
    margin: 0px 20px 20px 0px;
    margin-top: 0;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;

}
.flex {
    background-color: #393f4d;
    height: 400px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: #feda6a;
    background-image: url(back.png);
}
    .flex:hover {
    scale: 1.01;
}
.flex:active {
    transform: translateY(10px);
}

.signup_main {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.signup_sub {
    background-color: white;
    height: max-content;
    width: 400px;
    opacity: 0.97;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    padding: 2px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid #008bf8;
}
.login_bar {
    border-radius: 10px;
    background-color: #E8f0fe;
    border-color: rgba(0,0,0,0);    
    outline: none;
    opacity: 1;
    width: 75%;
    height: 40px;
    margin: 5px;
    text-align: center;
}